<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Healthcare Store</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <div class="container">
      <header class="hero">
        <h1>Welcome to the Health Care Store</h1>
        <p>Your one-stop shop for all medical needs</p>
      </header>

      <div class="scroll-down">
        <a href="/purchase" class="btn btn-purchase green-hover"
          >MAKE PURCHASE</a
        >
        <a href="/inventory/list" class="btn btn-purchase red-hover"
          >INVENTORY</a
        >
      </div>
    </div>
  </body>
</html>
